body {
	font-family: helveticaregular, Arial;
	overflow-Y: scroll;
}

.back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 1;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.back .loader {
	position: fixed;
	top: -40px;
	left: 20px;
	background-color: white;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index: 4;
}

.back .loader.active {
	top: 20px;
	opacity: 1;
}

.back .images img {
	position: absolute;
	top: 0;
	z-index: 1;
	opacity: 1;
	visibility: visible;
	-webkit-transition: all 0.5s ease-in-out !important;
	-moz-transition: all 0.5s ease-in-out !important;
	-o-transition: all 0.5s ease-in-out !important;
	transition: all 0.5s ease-in-out !important;
}

.back .images img.current {
	z-index: 2;
}

.back .images img.prev {
	z-index: 1;
}

.back .images img.hidden {
	opacity: 0;
	visibility: hidden;
}

.back .images img.relative {
	position: relative;
}

.back .images {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

/*.back .images img.current, .back .show {
	opacity: 1;
	visibility: visible;
}

.back .images img.hidden {
	opacity: 0.1;
	visibility: hidden;
}*/

.site-align {
	width: 780px;
	margin: 0 auto;
}

.head {
	position: relative;
	z-index: 3;
}

/**
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 MUDANÇA: O código abaixo para col-logo e col-thumbs foram adicionados
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 */
.head .col-logo, .head .col-thumbs {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.head .logo {
	/**
	 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	 MUDANÇA: Os códigos abaixo foram comentados
	 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    */
	
/*	background: url(../img/fundologo.png) no-repeat top center;
	width: 368px;
	margin-left: 15px;*/
}

.head .logo h1 {
	margin: 0 auto;
}

.head .logo h1 a {
	/**
	 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	 MUDANÇA: Os códigos abaixo foram comentados
	 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    */
	
/*	display: block;
	margin: 0 auto;
	padding: 0px 0px 72px;
	text-indent: -999em;
	overflow: hidden;
	background: url(../img/logo.png) no-repeat center 24px;
	width: 274px;
	height: 68px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;*/
}

.head .thumbs {
	float: right;
	width: 390px;
}

.head .thumbs ul {
	float: right;
}

.head .thumbs ul li {
	float: right;
	list-style: none;
	margin-left: 10px;
	margin-top: 10px;
}

.head .thumbs ul li a {
	display: block;
	float: left;
	width: 25px;
	height: 25px;
	text-indent: -999em;
	overflow: hidden;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	outline: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.head .thumbs ul li a span {
	background-color: #717275;
	display: block;
	width: 30px;
	height: 30px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -15px;
	margin-top: -15px;
}

.head .thumbs ul li.active a span,
.head .thumbs ul li a:hover span {
	width: 0;
	height: 0;
	margin-left: 0;
	margin-top: 0;
}

.menu {
	position: fixed;
	z-index: 5;
	bottom: 0px;
	left: 50%;
	margin-left: -390px;
}

.menu .navigation {
	background-image: url(../img/fundomenu.png);
	width: 100%;
	padding-left: 25px;
	float: left;
}

.menu .navigation > li {
	float: left;
	list-style: none;
	padding: 10px 0;
	/**
	 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	 MUDANÇA: Os códigos para transition abaixo foram adicionados
	 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    */
	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.menu .navigation > li > a {
	font-size: 19px;
	color: #58595b;
	font-weight: 100;
	padding: 10px 11px;
	text-decoration: none;
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
	outline: none;
	font-family: 'HVNLight';
}

.menu .navigation > li > a:hover {
	color: black;
}

.menu .navigation .sub-navigation {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: auto;
	bottom: 100%;
	padding: 10px 0 17px;
	margin: 0 0 0 10px;
	background: url(../img/fundosubmenu.png) left bottom;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index: 5;
}

.menu .navigation > li:hover .sub-navigation {
	opacity: 1;
	visibility: visible;
}

.menu .navigation .sub-navigation > li {
	list-style: none;
	font-size: 12.5px;
}

.menu .navigation .sub-navigation > li.divider {
	display: block;
	height: 15px;
}

.menu .navigation .sub-navigation > li > a,
.menu .navigation .sub-navigation > li > h5
{
	color: #58595b;
	margin: 0;
	padding: 5px 15px;
	text-decoration: none;
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
	line-height: 12.5px;
	outline: none;
}

.menu .navigation .sub-navigation > li.title > a,
.menu .navigation .sub-navigation > li.title > h5
{
	text-transform: uppercase;
	color: black;
}

.menu .navigation .sub-navigation > li > a:hover {
	color: black;
}

.menu .address {
	background: url(../img/fundoaddress.png);
	clear: both;
} 

.menu .address address {
	padding: 5px 35px;
	margin-bottom: 5px;
}

.menu .address address a {
	color: white;
	text-decoration: none;
}

.menu .address address.phone {
	font-size: 18.5px;
	color: white;
}

.description {
	position: fixed;
	z-index: 2;
	bottom: 100px;
	left: 50%;
	margin-left: -390px;
}

.description {
	background: url(../img/fundodescricao.png);
	color: white;
	padding: 15px 25px;
	margin-bottom: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	opacity: 0;
	visibility: hidden;
}

.description.show {
	opacity: 1;
	visibility: visible;
}

.description h3 {
	margin: 0 0 10px;
	font-size: 14.5px;
	text-transform: uppercase;
}

.description p {
	margin: 0;
	font-size: 14.5px;
}

.content {
	background: url(../img/fundoconteudo.png);
	max-width: 780px;
	position: relative;
	z-index: 4;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	opacity: 0;
	visibility: hidden;
	position: relative;
}

.content.show {
	opacity: 1;
	visibility: visible;
}

.content a#close {
	display: block;
	position: absolute;
	right: 20px;
	top: 20px;
	text-indent: -999em;
	overflow: hidden;
	background: url(../img/fechar.png) no-repeat center;
	width: 32px;
	height: 32px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	opacity: 0.6;
}

.content a#close:hover {
	opacity: 1;
}

.apresentacao {
	padding-bottom: 40px;
}

.apresentacao h1 {
	background: url(../img/logomaior.png) no-repeat center;
	width: 335px;
	height: 83px;
	text-indent: -999em;
	overflow: hidden;
	margin: 0 auto;
	padding: 30px 0;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

.apresentacao p {
	width: 462px;
	margin: 0 auto;
	color: white;
	margin-bottom: 20px;
	line-height: 25px;
	font-size: 15px;
	text-align: justify;
}

.apresentacao h5 {
	font-size: 17px;
	line-height: 25px;
	color: white;
	text-transform: uppercase;
	font-style: italic;
	font-weight: bolder;
	width: 400px;
	margin: 0 auto 10px;
	text-align: center;
}

.apresentacao a {
	color: #b1b1b1;
	text-decoration: none;
	text-align: center;
	display: block;
}

/**
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 MUDANÇA: Todos os códigos abaixo foram adicionados
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
@media (max-width: 767px) {
	.menu .navigation > li {
		padding: 2px 0px;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.menu .navigation > li {
		padding: 4px 0px;
	}
}

@media (min-width: 993px) and (max-width: 1200px) {
	.menu .navigation > li {
		padding: 6px 0px;
	}
}